@font-face {
    font-family: 'JJ2';
    src: url('../fonts/04B_30__.ttf');
}

:root {
    --background-page-dark: #5E1675;
    --color-icon: #D9D9D9;
    --color-font-1: #F8F7FD;
    --color-font-2: #7C7A77;
    --color-font-3: #B51B75;
    --font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI Variable', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    --background-main: rgb(94, 22, 117); /* RGB del color del main */
    --background-footer: rgb(181, 27, 117); /* RGB del color del footer */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JJ2', sans-serif;
}

html {
    height: 100%;
    font-size: 40%;
    box-sizing: border-box;

}

body {
    position: relative;
    background: linear-gradient(to right top, #5e1675, #520c4e, #3d0b2e, #240b18);
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100%;
    font-size: 3rem;
    color: var(--color-font-1);
    box-sizing: border-box;
    z-index: 100;
    overflow-x: hidden;
    background-size: 600% 600%;
    animation: jazz 28s ease infinite;
    filter: drop-shadow(1px 1px 8px black);
}

.jazz-animation {
    background: linear-gradient(5deg, #5e1675, #b51b75, #000000);
    background-size: 600% 600%;
    animation: jazz 28s ease infinite;
}

@keyframes jazz {
    0% {background-position: 51% 0%}
    50% {background-position: 50% 100%}
    100% {background-position: 51% 0%}
}

#banner {
    background-image: url('../images/header_back.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

#bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 60px;
}

.scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding-left: 50%;
    padding-top: 1%;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-in-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-in-out 1s infinite; 
}

.chevron:first-child {
    animation: move 3s ease-in-out 2s infinite; 
}

.chevron:before, .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fde40087;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

#section-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 10%;
    margin-top: 13%;
}

#section-title img {
    max-width: 32%;
    height: auto;
    margin-top: 10%;
    position: relative;
    z-index: 1; 
}

#section-title::before {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .6));
    z-index: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 70px;
    margin-right: 10px;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.icons-container img {
    height: 70px;
    margin: 0 10px;
}

.separator {
    height: 70px;
    border-left: .1rem solid var(--color-icon);
}

#description {
    width: 50%;
    text-align: justify;
    line-height: 32px;
    padding: 50px;
}

#description h1 {
    border: 10x solid black;
    font-family: 'JJ2', sans-serif;
    color: #fde500;
    filter: drop-shadow(10px 10px 4px black);
    font-size: 11rem;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

#description article p {
    font-family: 'JJ2', sans-serif;
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: justify;
    filter: drop-shadow(2px 2px 4px black);
}

#main {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;

}

.main-yt-video {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
}

.main-yt-video iframe {
    width: 100%;
}

.main-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.button {
    padding: 10px 20px;
    background-color: #fde500;
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: justify;
    color: #000000;
    filter: drop-shadow(2px 2px 4px black);
    font-family: 'JJ2', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background-color: #fde4008a;
}

#footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 5rem 0;
}

.footer-profiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10rem;
    margin-top: 20px;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.profile-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile img {
    height: 200px;
    border-radius: 10%;
    margin-bottom: 10px;
}
